@import "../../styles";

.patient-form {
  margin-bottom: 50px;
  width: 100%;
}

h3,
h4 {
  background-color: $blue-deep;
  color: $white;
  padding: 1%;
}

label {
  display: inline-block;
  margin-right: 3%;
  text-align: right;
  width: 45%;
}

.date-container {
  .input-group {
    label {
      width: 48%;
    }
  }
}

.input-group {
  label {
    width: 35%;
  }
}

.input-record {
  display: flex;
  float: left;
  width: 100%;
}

.error-msg {
  span {
    color: $orange;
    float: left;
    font-size: 14px;
    margin: 1%;
    padding-left: 38%;
  }
}

.note-msg {
  float: left;
  font-size: 14px;
  margin: 2% auto 0;
}

.add-appointment-container {
  align-items: center;
  justify-content: space-between;
}

button {
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1%;
  min-width: 175px;
  padding: 12px;
}

.btn-add {
  background-color: $blue-deep;
  border-radius: 10px;
  color: $white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

span {
  margin-right: 2%;
}

.patient-btn {
  margin-left: 25%;
}

.btn-submit {
  background-color: $blue-deep;
  color: $white;
}

.btn-cancel {
  background-color: $grey-md;
  color: $black;
}
