@import "../../styles";

* {
  margin: 0;
  padding: 0;
}

.login-container {
  height: 100vh;
}

.left {
  align-items: center;
  background-color: $app-primary-color;
  color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

img {
  margin: 0 12% 14%;
  width: 100px;
}

.content-left {
  margin: auto;
  padding-left: 2%;
  text-align: left;
  width: 80%;
}

.description {
  font-size: 20px;
}

.right {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.content-right {
  margin: auto;
  text-align: center;
  width: 80%;
}

input,
.input-group-text {
  background-color: $blue-lt;
  border: 0;
  cursor: pointer;
}

.input-group-text {
  padding: 0 20px;
}

input {
  padding: 20px 15px 20px 5px;
  width: 80%;

  &:focus {
    background-color: $grey-lt;
    box-shadow: 0;
    outline: 0;
  }
}

i {
  font-size: 20px;
}

.error-msg {
  span {
    color: $orange;
    float: left;
    font-size: 14px;
    padding-left: 20%;
  }
}

.btn-sign-in {
  background-color: $app-primary-color;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  min-width: 225px;
  padding: 15px;
}

.sign-up-option {
  font-size: 14px;

  a {
    color: $blue-deep;
    font-size: 16px;
  }
}
