<div class="container-fluid login-container">
  <div class="row">
    <div class="col-12 col-md-6 left">
      <div class="logo">
        <img src="../../assets/images/dental-health.png" />
      </div>
      <div class="content-left">
        <h1 class="font-weight-bold">Myleena's Patient Details</h1>
        <div class="description">A tool to manage records of your patients.</div>
      </div>
    </div>
    <div class="col-12 col-md-6 right">
      <div class="w-100">
        <div class="content-right">
          <h1>Sign in to your Account</h1>
          <form>
            <div class="row">
              <div class="col-12">
                <div class="input-group mt-3 pl-5">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                  </div>
                  <input name="username" type="text" id="username" placeholder="Enter your username here" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="input-group mt-3 pl-5">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-lock"></i></div>
                  </div>
                  <input name="password" type="text" id="password" placeholder="Enter your password here" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mt-3 pl-3">
                <button type="submit" class="btn btn-primary btn-sign-in">SIGN IN</button>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-12 mt-3 pl-3">
              <div class="sign-up-option">
                <span>Don't have an account? </span>
                <a>Sing Up!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
