<div class="container-fluid patient-record">
  <div class="row">
    <div class="col-12">
      <div class="topbar">
        <div class="logo">
          <img src="../../assets/images/dental-health.png" />
        </div>
        <div class="title">
          <h5 class="font-weight-bold">Myleena's Patient Details</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-2">
      <div class="add-patient-container d-flex">
        <h3>Patient Data</h3>
        <button class="float-right btn-add" (click)="addPatient()" data-toggle="modal" data-target="#patientFormModal">
          <i class="fa fa-plus mr-2"></i>ADD PATIENT
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="patient-data mt-1">
        <table>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let patient of patientData">
            <td>{{ patientData.indexOf(patient) + 1 }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.address }}</td>
            <td>{{ patient.telephone }}</td>
            <td>
              <span class="d-flex">
                <i class="edit fa fa-edit" (click)="updatePatientData(patient)"  data-toggle="modal" data-target="#patientFormModal"></i>
                <i class="delete fa fa-trash" (click)="removePatient(patient._id)"></i>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- -----------MODAL STARTS HERE------------------->

<div class="container">
  <div class="modal fade modal-lg" id="patientFormModal" #closeModal>
    <div class="modal-content">
      <!-- pass isedit in patient form -->
      <app-patient-form [patientData]="patientUpdateDetail" [isEditForm]="isEdit"></app-patient-form>
    </div>
  </div>
</div>
