<div class="container-fluid appointment-form-container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="container appointment-form">
        <form>
          <div class="row">
            <div class="col-12">
              <!-- <div class="appointment"> -->
                <div class="input-group mt-3">
                  <label>Date</label>
                  <input name="date" type="date" id="date" />
                </div>

                <div class="input-group mt-3">
                  <label>Summary</label>
                  <input name="summary" type="textarea" id="summary" />
                </div>

                <div class="input-group mt-3">
                  <label>Picture</label>
                  <input class="mr-1" name="picture" type="checkbox" id="picture" />
                </div>

                <div class="input-group mt-3">
                  <label>Next Visit</label>
                  <input name="nextdate" type="date" id="nextdate" />
                </div>
              <!-- </div> -->
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12 mt-3 pl-3">
              <div class="btn-container">
                <button type="submit" class="btn btn-primary btn-add">ADD</button>
                <button type="submit" class="btn btn-primary btn-cancel">CANCEL</button>
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
